In [61]:
def addI501Student(firstName, lastName, school="SOIC", graduate=True):
    return addI501Student




addI501Student(lastName="Blow", firstName="Joe", graduate=True, school="MED")

In [1]:
s1 = ['blue', 'red', 'pink']
print(id(s1))
s1.append('orange')
print(id(s1))

1844137072128
1844137072128

In [3]:
t1 = (1, 2, 3)
t2 = (t1, '0')
t3 = (t1 + t2)
print(len(t3))

5

In [5]:
nameFile = open('ages', 'a') 
for line in "Hello World":
    nameFile.write(line) 
nameFile.close()

<_io.TextIOWrapper name='ages' mode='a' encoding='cp1252'>

In [12]:
L = [x**2 for x in range(1,7)]
print(L)

[1, 4, 9, 16, 25, 36]